#intro {
    background-image: url("./images/img1.png");
    height: 100vh;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }
   .input
   {
    width:55%;
   }
   .label
   {
    font-style: italic;
    color:black;
   }
    
  .login
  {
    display: none;

  }
  .signup
  {
    display:none;
  }